@font-face {
  font-family: 'Optima';
  font-style: normal;
  font-weight: normal;
  src: local('Optima'), url('OPTIMA.woff') format('woff');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Optima';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.2;
}

.nunito-text {
  font-family: var(--font-nunito-sans), Arial, Helvetica, sans-serif;
}



a {
  color: inherit;
  text-decoration: none !important;
  transition: 0.4s;
}

.container {
  max-width: 1400px;
}

.HederBoxFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.2);
}

.scrolled header {
  background-color: #1D1D1D;
}

.HeaderBox {
  padding: 15px 15px;
}

.pd-common {
  padding: 70px 0px;
}

@keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 100%;
  }
}

.FullScreenBanner {
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
  background-repeat: repeat-y;
  animation: scrollBackground 10s linear infinite;
  overflow: hidden;
  background-color: #D6B264;
}

.FullScreenBanner:after {
  content: "";
  background-image: url(../public/overlay.png);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

.FullScreenBanner img {
  max-height: 100vh;
  animation: scrollBackground 10s linear infinite;
  overflow: hidden;
}

.FsBannerContentFlex {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  color: #fff;
  align-items: center;
}

.Txt1 {
  color: #D6B264;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.Txt2 {
  font-size: 48px;
  max-width: 450px;
  margin-bottom: 10px;
}

.Txt3 {
  font-size: 25px;
  margin-bottom: 30px;
}

.Link1 {
  display: inline-block;
  padding: 10px 20px;
  min-width: 200px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  border-radius: 20px;
}

.hover1:hover {
  background-color: #D6B264;
  color: #383838;
}

.MenuClick {
  width: 27px;
  height: 19px;
  background-size: 100% 100%;
  background-image: url(../public/menu.png);
  cursor: pointer;
  position: relative;
}

.MenuClick::after {
  content: "Menu";
  color: #fff;
  position: absolute;
  left: 40px;
  top: 3px;
  transition: 0.4s;
}

.MenuClick:hover {
  background-image: url(../public/menuhover.png);
}

.MenuClick:hover::after {
  color: #D6B264;
}

.MainLogo {
  max-width: 150px;
}

.bg1 {
  background-color: #1D1D1D;
}

footer {}

.FooterLogo {
  max-width: 200px;
}

.FtrT1 {
  color: #fff;
  font-size: 20px;
  padding: 30px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 30px;
}

.CRow {
  padding-left: 37px;
  position: relative;
  color: #fff;
  margin-bottom: 25px;
  font-family: var(--font-nunito-sans), Arial, Helvetica, sans-serif;
}

.CRow.whatsapp:after {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../public/whatsapp.png);
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.CRow.call:after {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../public/call.png);
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.CRow.email:after {
  content: "";
  width: 21px;
  height: 16px;
  background-image: url(../public/email.png);
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.CRow.location:after {
  content: "";
  width: 16px;
  height: 23px;
  background-image: url(../public/location.png);
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.CRow a:hover {
  color: #D6B264;
}

.LinkTitle {
  color: #D6B264;
  margin-bottom: 15px;
}

.FtrLnk1 {
  color: #fff !important;
  display: block;
  margin-bottom: 15px;
  font-family: var(--font-nunito-sans), Arial, Helvetica, sans-serif;
}

.FtrLnk1:hover {
  color: #D6B264 !important;
}

.NewsletterBox {
  position: relative;
}

.NewsletterBox input {
  background-color: transparent;
  border: none;
  padding: 15px;
  width: 100%;
  border-bottom: 1px solid #ffffff1a;
  box-shadow: none;
  outline: none;
  color: #fff;
}

.NewsletterBox button {
  background-color: transparent;
  color: #D6B264;
  position: absolute;
  top: 10px;
  right: 0;
  border: 0;
  cursor: pointer;
}

.NewsletterBox button:hover {
  color: #fff;
}

.NewsTxt {
  margin-top: 15px;
  color: #fff;
  opacity: 0.5;
}

.FooterBottom {
  padding: 20px 0px;
  background-color: #000;
  color: #fff;
}

.FooterBottom a:hover {
  color: #D6B264;
}

.socialMediaLinksFlex {
  display: flex;
  justify-content: end;
}

.ScIcon {
  width: 25px;
  height: 25px;
  display: inline-block;
}

.ScIcon.facebook {
  width: 13px;
  height: 22px;
  background-image: url(../public/facebook.png);
}

.ScIcon.instagram {
  width: 22px;
  height: 22px;
  background-image: url(../public/instagram.png);
}

.ScIcon.tiktok {
  width: 20px;
  height: 22px;
  background-image: url(../public/tiktok.png);
}

.ScIcon.youtube {
  width: 22px;
  height: 22px;
  background-image: url(../public/youtube.png);
}

.ScIcon.x {
  width: 22px;
  height: 22px;
  background-image: url(../public/x.png);
}

.socialMediaLinksFlex a {
  margin-left: 15px;
}

.Link2 {
  color: #1D1D1D;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 8px 20px;
  display: inline-block;
  background-color: #fff;
}

.HeroBanner2Wrap {
  padding: 30px 0px;
}

.FtSliderContent {
  position: relative;
  overflow: hidden;
}

.FtSliderContent::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../public/hbg2.png);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-size: 100% 100%;
}

.BannerItem img {
  width: 100%;
}

.BannerTextBox {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #fff;
  align-items: end;
  padding: 30px;
}

.FtSliderContent .Txt2 {
  max-width: 100%;
  font-size: 38px;
  margin-bottom: 5px;
}

.FtSliderContent .Txt3 {
  margin-bottom: 0;
  font-size: 19px;
}

.BannerTextBox .row {
  align-items: center;
}

.BannerTextBox .col-md-4 {
  text-align: right;
}

body .slick-dots li button::before {
  color: #1D1D1D;
  font-size: 13px;
}

body .slick-dots {
  position: relative;
  bottom: auto;
  margin-top: 15px;
}

.HomeAboutContent {
  background-image: url(../public/homeaboutbg.png);
  background-position: center center;
  background-repeat: no-repeat;
  max-width: 800px;
  margin: 0 auto;
  background-size: contain;
}

.HbT1 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 25px;
}

.HbT2 {
  font-size: 16px;
  margin-bottom: 20px;
}

.HbT3 {
  font-size: 16px;
  margin-bottom: 20px;
}

.HbT4 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 25px;
  margin-top: 15px;
}

.Link4 {
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 8px 15px;
  display: inline-block;
  cursor: pointer;
}

.Link5 {
  color: #1D1D1D;
  text-align: center;
  border: 1px solid #1d1d1d;
  border-radius: 20px;
  padding: 10px 20px;
  display: inline-block;
}

.SoldOutBox {
  background-color: #F7F7F7;
}

.St1 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.St2 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 10px;
}

.SoldOutBox .col-md-4 {
  background-image: url(../public/g1.png);
}

.SldSliderItemDesc {
  padding: 20px;
  background-color: #fff;
}

.SldSliderItem {
  margin-right: 25px;
}

.SlT1 {
  color: #FF4E4E;
  font-size: 15px;
  margin-bottom: 5px;
}

.SlT2 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.Link6 {
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px 20px;
  display: inline-block;
  background-color: #1D1D1D;
  margin-top: 10px;
}

.SoldOutBox {}

.SoldOutBox .slick-dots li button::before {
  color: #1D1D1D;
  font-size: 13px;
}

.SoldOutBox .slick-dots {
  position: relative;
  bottom: auto;
  margin-top: 15px;
}

.CfT1 {
  color: #D6B264;
  margin-bottom: 10px;
}

.CfT2 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 10px;
}

.CfT3 {
  max-width: 800px;
  margin: 0 auto;
}

.FormBox {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 30px;
}

.FormBox input,
.FormBox textarea {
  width: 100%;
  background-color: #F7F7F7;
  padding: 15px 25px;
  border-radius: 25px;
  border: 0px;
  margin-bottom: 15px;
  outline: none;
  box-shadow: none;
}

.FormBox button {
  color: #fff;
  text-align: center;
  background-color: #1d1d1d;
  border: 1px solid #fff;
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  transition: 0.4s;
}

.Backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
  cursor: pointer;
  display: none;
}

.Megamenu {
  background-color: #000000;
  max-width: 500px;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  transition: 0.4s;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  padding: 30px 60px;
  left: -100%;
}

.menu-open .Megamenu {
  left: 0;
}

.menu-open .BackdropMenu {
  display: block;
}

.closeBtn {
  background-image: url(../public/close.png);
  width: 23px;
  height: 23px;
  background-size: 100% 100%;
  cursor: pointer;
}

.closeBtn.black {
  background-image: url(../public/closeblack.png);
}

.MenuHd {
  margin-bottom: 60px;
}

.MenuMiddle ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.MenuMiddle {
  margin-bottom: 60px;
}

.MenuMiddle ul a {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
  position: relative;
}

.MenuMiddle ul li.active a {
  color: #D6B264;
}

.MenuMiddle ul a:hover {
  padding-left: 30px;
  color: #D6B264;
}

.MenuMiddle ul a:hover::after {
  content: "";
  width: 12px;
  height: 12px;
  background-size: 100% 100%;
  background-image: url(../public/hover1.png);
  position: absolute;
  left: 0;
  top: 6px;
}

.MenuFtr ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.MenuFtr ul a {
  color: #D6B264;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
}

.ChatBoat {
  color: #fff;
  z-index: 9;
  background-color: #1d1d1d;
  padding: 15px;
  display: inline-block;
  position: fixed;
  bottom: 35px;
  right: -35px;
  transform: rotate(-90deg);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.ChatBoat:hover {
  background-color: #D6B264;
  color: #1D1D1D !important;
}

.fixedHeader {
  position: relative;
  top: auto;
  left: auto;
}

.form-open .Backdrop.BackdropForm {
  display: block;
}

.FormPopUp {
  max-width: 500px;
  height: 100vh;
  overflow: hidden;
  transition: .4s;
  height: 100%;
  z-index: 999;
  padding: 30px 60px;
  right: -100%;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
}

.FormPopUp .CfT2 {
  font-size: 23px;
}

.FormPopUp .MenuHd {
  margin-bottom: 20px;
}

.form-open .FormPopUp {
  right: 0;
}

.cursor-pointe {
  cursor: pointer;
}

.form-open .ChatBoat {
  display: none;
}

header.fixed-class {
  position: relative;
  left: auto;
  top: auto;
  background-color: #1D1D1D;
}

.scrolled header.fixed-class {
  position: fixed;
  left: 0;
  top: 0;
}

.PageHeaderTp1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.HdT1 {
  text-transform: uppercase;
  color: #D6B264;
  margin-bottom: 10px;
}

.HdT2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.HdT3 {
  max-width: 850px;
  margin: 0 auto;
  font-size: 25px;
}

.PageHeaderTp1 {
  background-image: url(../public/pageheader.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.AbSliderItem .ImageBox {
  padding: 0px 10px;
}

body .slick-next {
  background-image: url(../public/next.png) !important;
  background-color: #fff !important;
  background-size: 100% 100% !important;
  width: 35px;
  height: 35px;
  right: 20px;
  border-radius: 50%;
  z-index: 1;
}

body .slick-prev {
  background-image: url(../public/prev.png) !important;
  background-color: #fff !important;
  background-size: 100% 100% !important;
  width: 35px;
  height: 35px;
  left: 20px;
  border-radius: 50%;
  z-index: 1;
}

body .slick-next:hover,
body .slick-prev:hover {
  background-color: #D6B264 !important;
}

body .slick-next::before,
body .slick-prev::before {
  content: none;
}

.slick-slide:last-child .SldSliderItem {
  margin-right: 0 !important;
}

.SoldOutSlider .slick-prev {
  left: 0 !important;
}

.SoldOutSlider .slick-next {
  right: 0 !important;
}

.slick-disabled {
  display: none !important;
}

.VmT1 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.VmT2 {
  font-size: 18px;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.VmT3 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.VmT4 {
  font-size: 18px;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.d-only {}

.m-only {
  display: none !important;
}

.halo-sticky-toolbar-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  box-shadow: 0 0 9px #0000001f;
  transition:.3s;
  background: #fff;
  border:1px solid #fff;
  overflow: hidden;
}
.bottom-bar {
  padding:3px 15px;
  min-height: 60px;
}
.bottom-bar--list {
  list-style:none;
  padding:0;
  display: flex;
  justify-content: space-between;
  margin:0;
  align-items: center;
}
.bottom-bar--list li > a {
  padding:7px 2px;
  display: block;
  pointer-events: auto;
  text-align: center;
  color: #1d1d1b !important;
}
.bottom-bar--list .icon + .text {
  margin-top: 6px;
  line-height: 1;
  font-size: 11px;
}
.bottom-bar--list .icon img {
  max-width: 22px;
}
.VmT5{
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
}
.VmT5::after{
  content: "";
  width: 22px;
  height: 22px;
  background-size: 100% 100%;
  background-image: url(../public/star.png);
  position: absolute;
  left: 0;
  top: 0;
}
.bg2{
  background-color: #F7F7F7;
}
.FounderSlider{
  max-width: 700px;
  margin: 0 auto;
}
.FounderDetails{
  padding: 15px;
  background-color: #1d1d1b;
  color: #fff;
}
.FounderName{
  font-size: 23px;
}
.FounderPosition{
  color: #D6B264;
  font-size: 18px;
  margin-bottom: 15px;
}
.MoreInfoLink{
  color: #fff;
  position: relative;
  display: inline-block;
  padding-right: 25px;
}
.MoreInfoLink::after {
  content: "";
  width: 12px;
  height: 12px;
  background-size: 100% 100%;
  background-image: url(../public/hover1.png);
  position: absolute;
  right: 0;
  top: 5px;
}
.MoreInfoLink:hover{
  color: #D6B264;
}
.FounderItemBox{
  padding: 0 5px;
}
.FounderSlider{
  margin-top: 30px;
}
.AllTeamImageBox{
  margin: 50px 0px;
}
.OurPeopleBox{
  max-width: 1000px;

  margin: 0 auto;
  margin-top: 30px;
}