@font-face {
  font-family: "Optima";
  font-style: normal;
  font-weight: normal;
  src: local("Optima"), url("OPTIMA.woff") format("woff");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Optima";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  line-height: 1.2;
}

.nunito-text {
  font-family: var(--font-nunito-sans), Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none !important;
  transition: 0.4s;
}

.container {
  max-width: 1400px;
}

.HederBoxFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.25);
}

.scrolledOne header {
  /* background-color: rgba(0, 0, 0, 0.5); */
  backdrop-filter: blur(15px) !important;
  background-color: #00000059 !important;
}

.HeaderBox {
  padding: 15px 15px;
}

.pd-common {
  padding: 70px 0px;
}

@keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 100%;
  }
}

.FullScreenBanner {
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
  background-repeat: repeat-y;
  animation: scrollBackground 10s linear infinite;
  overflow: hidden;
  background-color: #fff;
  height: 100vh;
}

.FullScreenBanner:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.25);
}

.FullScreenBanner img {
  max-height: 100vh;
  animation: scrollBackground 10s linear infinite;
  overflow: hidden;
  object-fit: cover;
  height: 100vh !important;
}

.AlignCenterBottomImage {
  object-position: center bottom;
}

.FsBannerContentFlex {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  color: #fff;
  align-items: center;
}

.FsBannerContentFlex1 {
  background-color: rgba(0, 0, 0, 0.25);
  color: rgb(255, 255, 255);
  transition: background-color 0.2s ease, color 0.2s ease;
}

.Txt1 {
  color: #d6b264;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.Txt2 {
  font-size: 55px;
  max-width: 100%;
  margin-bottom: 10px;
}

.Txt3 {
  font-size: 25px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.Txt17 {
  font-size: 20px;
  margin-bottom: 15px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.Link1 {
  display: inline-block;
  padding: 10px 20px;
  min-width: 200px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  border-radius: 20px;
  text-transform: capitalize;
}

.hover1:hover {
  background-color: #d6b264;
  color: #383838;
}

.MenuClick {
  width: 27px;
  height: 19px;
  background-size: 100% 100%;
  background-image: url(../public/menu.png);
  cursor: pointer;
  position: relative;
}

/* .MenuClick::after {
  content: "Menu";
  color: #fff;
  position: absolute;
  left: 40px;
  top: 3px;
  transition: 0.4s;
} */

.MenuClick:hover {
  background-image: url(../public/menuhover.png);
}

.MenuClick:hover::after {
  color: #d6b264;
}

.MainLogo {
  max-width: 150px;
}

.bg1 {
  background-color: #1d1d1d;
}

footer {}

.FooterLogo {
  max-width: 200px;
}

.FtrT1 {
  color: #fff;
  font-size: 20px;
  padding: 5px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 30px;
}

.CRow {
  padding-left: 37px;
  position: relative;
  color: #fff;
  margin-bottom: 25px;
  font-family: var(--font-nunito-sans), Arial, Helvetica, sans-serif;
}

.CRow.whatsapp:after {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../public/whatsapp.png);
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.CRow.whatsapp.a1:after {
  background-image: url(../public/a1.png);
}

.CRow.call.a2:after {
  background-image: url(../public/a2.png);
}

.CRow.email.a3:after {
  background-image: url(../public/a3.png);
}

.contact-email:before {
  content: "";
  background-image: url("/a3.png");
  /* Corrected path for public folder */
  display: inline-block;
  width: 22px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
  /* Aligns with text vertically */
  background-size: contain;
  background-repeat: no-repeat;
}

.CRow.location.a4:after {
  background-image: url(../public/a4.png);
}

.CRow.call:after {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../public/call.png);
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.CRow.email:after {
  content: "";
  width: 21px;
  height: 16px;
  background-image: url(../public/email.png);
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.CRow.location:after {
  content: "";
  width: 16px;
  height: 23px;
  background-image: url(../public/location.png);
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.CRow a:hover {
  color: #d6b264;
}

.LinkTitle {
  color: #d6b264;
  margin-bottom: 15px;
}

.FtrLnk1 {
  color: #fff !important;
  display: block;
  margin-bottom: 15px;
  font-family: var(--font-nunito-sans), Arial, Helvetica, sans-serif;
}

.FtrLnk1:hover {
  color: #d6b264 !important;
}

.NewsletterBox {
  position: relative;
}

.NewsletterBox input {
  background-color: transparent;
  border: none;
  padding: 15px;
  width: 100%;
  border-bottom: 1px solid #ffffff1a;
  box-shadow: none;
  outline: none;
  color: #fff;
}

.NewsletterBox button {
  background-color: transparent;
  color: #d6b264;
  position: absolute;
  top: 10px;
  right: 0;
  border: 0;
  cursor: pointer;
}

.NewsletterBox button:hover {
  color: #fff;
}

.NewsTxt {
  margin-top: 15px;
  color: #fff;
  opacity: 0.5;
}

.FooterBottom {
  padding: 20px 0px;
  background-color: #000;
  color: #fff;
}

.FooterBottom a:hover {
  color: #d6b264;
}

.socialMediaLinksFlex {
  display: flex;
  justify-content: end;
}

.ScIcon {
  width: 25px;
  height: 25px;
  display: inline-block;
}

.ScIcon.facebook {
  width: 13px;
  height: 22px;
  background-image: url(../public/facebook.png);
}

.ScIcon.instagram {
  width: 22px;
  height: 22px;
  background-image: url(../public/instagram.png);
}

.ScIcon.linkedIn {
  width: 23px;
  height: 23px;
  background-image: url(../public/linkedin-icon.png);
}

.ScIcon.tiktok {
  width: 20px;
  height: 22px;
  background-image: url(../public/tiktok.png);
}

.ScIcon.youtube {
  width: 22px;
  height: 22px;
  background-image: url(../public/youtube.png);
}

.ScIcon.x {
  width: 22px;
  height: 22px;
  background-image: url(../public/x.png);
}

.socialMediaLinksFlex a {
  margin-left: 15px;
}

.Link2 {
  color: #1d1d1d;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 8px 20px;
  display: inline-block;
  background-color: #fff;
}

.HeroBanner2Wrap {
  padding: 30px 0px;
}

.FtSliderContent {
  position: relative;
  overflow: hidden;
}

.FtSliderContent::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../public/hbg2.png);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-size: 100% 100%;
}

.BannerItem img {
  width: 100%;
}

.BannerTextBox {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #fff;
  align-items: end;
  padding: 30px;
}

.FtSliderContent .Txt2 {
  max-width: 100%;
  font-size: 38px;
  margin-bottom: 5px;
}

.FtSliderContent .Txt3 {
  margin-bottom: 0;
  font-size: 19px;
}

.BannerTextBox .row {
  align-items: center;
}

.BannerTextBox .col-md-4 {
  text-align: right;
}

body .slick-dots li button::before {
  color: #1d1d1d;
  font-size: 13px;
}

body .slick-dots {
  position: relative;
  bottom: auto;
  margin-top: 15px;
}

.HomeAboutContent {
  background-image: url(../public/homeaboutbg.png);
  background-position: center center;
  background-repeat: no-repeat;
  max-width: 800px;
  margin: 0 auto;
  background-size: contain;
}

.HbT1 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 25px;
}

.HbT2 {
  font-size: 17px;
  margin-bottom: 20px;
}

.HbT3 {
  font-size: 17px;
  margin-bottom: 20px;
}

.HbT4 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 25px;
  margin-top: 15px;
}

.Link4 {
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 8px 15px;
  display: inline-block;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
  font-size: 16px;
}

.Link5 {
  color: #1d1d1d;
  text-align: center;
  border: 1px solid #1d1d1d;
  border-radius: 20px;
  padding: 10px 20px;
  display: inline-block;
}

.SoldOutBox {
  background-color: #f7f7f7;
}

.St1 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.St2 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 10px;
}

.SoldOutBox .col-md-4 {
  background-image: url(../public/g1.png);
}

.SldSliderItemDesc {
  padding: 20px;
  background-color: #fff;
}

.SldSliderItem {
  margin-right: 25px;
}

.SlT1 {
  color: #ff4e4e;
  font-size: 15px;
  margin-bottom: 5px;
}

.SlT2 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.Link6 {
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px 20px;
  display: inline-block;
  background-color: #1d1d1d;
  margin-top: 10px;
}

.SoldOutBox {}

.SoldOutBox .slick-dots li button::before {
  color: #1d1d1d;
  font-size: 13px;
}

.SoldOutBox .slick-dots {
  position: relative;
  bottom: auto;
  margin-top: 15px;
}

.CfT1 {
  color: #d6b264;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.CfT2 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 10px;
}

.CfT3 {
  max-width: 800px;
  margin: 0 auto;
}

.FormBox {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 30px;
}

/* .FormBox input, */
.FormBox input[type="text"],
.FormBox input[type="number"],
.FormBox input[type="email"],
.FormBox textarea {
  width: 100%;
  background-color: #f7f7f7;
  padding: 15px 25px;
  border-radius: 25px;
  border: 0px;
  margin-bottom: 15px;
  outline: none;
  box-shadow: none;
}

/* Override styles for react-phone-number-input */
.CustomPhoneInput {
  width: 100%;
  background-color: #f7f7f7;
  padding: 15px 25px;
  border-radius: 25px;
  border: 0px;
  margin-bottom: 15px;
  outline: none;
  box-shadow: none;
  font-size: 16px;
}

/* Style dropdown and input field */
.CustomPhoneInput input {
  border: none;
  background: transparent;
  width: 100%;
  outline: none;
}

/* Optional: style the flag dropdown */
.CustomPhoneInput .PhoneInputCountry {
  margin-right: 10px;
}

.FormBox button {
  color: #fff;
  text-align: center;
  background-color: #1d1d1d;
  border: 1px solid #fff;
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  transition: 0.4s;
}

.Backdrop {
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(15px) !important;
  background-color: #00000059 !important;
  /* background-color: #000 !important; */
  background-size: cover;
  z-index: 99;
  cursor: pointer;
  display: none;
  overflow: hidden;
}

.Megamenu {
  backdrop-filter: blur(5px);
  background-color: #00000059;
  max-width: 500px;
  height: 100vh !important;
  overflow: hidden;
  position: fixed;
  transition: 0.4s;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  padding: 30px 60px;
  left: -100%;
}

.menu-open .Megamenu {
  left: 0;
}

.menu-open .BackdropMenu {
  display: block;
}

.closeBtn {
  background-image: url(../public/close.png);
  width: 23px;
  height: 23px;
  background-size: 100% 100%;
  cursor: pointer;
}

.closeBtn.black {
  background-image: url(../public/closeblack.png);
}

.MenuHd {
  margin-bottom: 60px;
}

.MenuMiddle ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.MenuMiddle {
  margin-bottom: 60px;
}

.MenuMiddle ul a {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
  position: relative;
}

.MenuMiddle ul li.active a {
  color: #d6b264;
}

.MenuMiddle ul a:hover {
  padding-left: 30px;
  color: #d6b264;
}

.MenuMiddle ul a:hover::after {
  content: "";
  width: 12px;
  height: 12px;
  background-size: 100% 100%;
  background-image: url(../public/hover1.png);
  position: absolute;
  left: 0;
  top: 6px;
}

.MenuFtr ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.MenuFtr ul a {
  color: #d6b264;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
}

.ChatBoat {
  color: #fff;
  z-index: 9;
  background-color: #1d1d1d;
  padding: 15px;
  display: inline-block;
  position: fixed;
  bottom: 35px;
  right: -35px;
  transform: rotate(-90deg);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.ChatBoat:hover {
  background-color: #d6b264;
  color: #1d1d1d !important;
}

.fixedHeader {
  position: relative;
  top: auto;
  left: auto;
}

.form-open .Backdrop.BackdropForm {
  display: block;
}

.FormPopUp {
  max-width: 500px;
  height: 100vh;
  overflow: hidden;
  transition: 0.4s;
  height: 100vh !important;
  z-index: 999;
  padding: 30px 60px;
  right: -100%;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
}

.FormPopUp .CfT2 {
  font-size: 23px;
}

.FormPopUp .MenuHd {
  margin-bottom: 20px;
}

.form-open .FormPopUp {
  right: 0;
}

.cursor-pointe {
  cursor: pointer;
}

.form-open .ChatBoat {
  display: none;
}

header.fixed-class {
  position: relative;
  /* position: fixed; */
  left: auto;
  top: auto;
  background-color: #1d1d1d;
}

.scrolledOne header.fixed-class {
  position: fixed;
  left: 0;
  top: 0;
}

.PageHeaderTp1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.HdT1 {
  text-transform: uppercase;
  color: #d6b264;
  margin-bottom: 10px;
}

.HdT2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.HdT3 {
  max-width: 850px;
  margin: 0 auto;
  font-size: 25px;
}

.PageHeaderTp1 {
  background-image: url(../public/pageheader.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.AbSliderItem .ImageBox {
  padding: 0px 10px;
  cursor: pointer;
}

body .slick-next {
  background-image: url(../public/next.png) !important;
  background-color: #fff !important;
  background-size: 100% 100% !important;
  width: 35px;
  height: 35px;
  right: 20px;
  border-radius: 50%;
  z-index: 1;
}

body .slick-prev {
  background-image: url(../public/prev.png) !important;
  background-color: #fff !important;
  background-size: 100% 100% !important;
  width: 35px;
  height: 35px;
  left: 20px;
  border-radius: 50%;
  z-index: 1;
}

body .slick-next:hover,
body .slick-prev:hover {
  background-color: #d6b264 !important;
}

body .slick-next::before,
body .slick-prev::before {
  content: none;
}

.slick-slide:last-child .SldSliderItem {
  margin-right: 0 !important;
}

.SoldOutSlider .slick-prev {
  left: 0 !important;
}

.SoldOutSlider .slick-next {
  right: 0 !important;
}

.slick-disabled {
  display: none !important;
}

.VmT1 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.VmT2 {
  font-size: 18px;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.VmT3 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.VmT4 {
  font-size: 18px;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.d-only {}

.m-only {
  display: none !important;
}

.halo-sticky-toolbar-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  box-shadow: 0 0 9px #0000001f;
  transition: 0.3s;
  background: #fff;
  border: 1px solid #fff;
  overflow: hidden;
}

.bottom-bar {
  padding: 3px 15px;
  min-height: 60px;
}

.bottom-bar--list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
}

.bottom-bar--list li>a {
  padding: 7px 2px;
  display: block;
  pointer-events: auto;
  text-align: center;
  color: #1d1d1b !important;
}

.bottom-bar--list .icon+.text {
  margin-top: 6px;
  line-height: 1;
  font-size: 11px;
}

.bottom-bar--list .icon img {
  max-width: 22px;
}

.VmT5 {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
}

.VmT5::after {
  content: "";
  width: 22px;
  height: 22px;
  background-size: 100% 100%;
  background-image: url(../public/star.png);
  position: absolute;
  left: 0;
  top: 0;
}

.bg2 {
  background-color: #f7f7f7;
}

.FounderSlider {
  max-width: 700px;
  margin: 0 auto;
}

.FounderDetails {
  padding: 15px;
  background-color: #1d1d1b;
  color: #fff;
}

.FounderName {
  font-size: 23px;
}

.FounderPosition {
  color: #d6b264;
  font-size: 18px;
}

.MoreInfoLink {
  color: #fff;
  position: relative;
  display: inline-block;
  padding-right: 25px;
}

.MoreInfoLink::after {
  content: "";
  width: 12px;
  height: 12px;
  background-size: 100% 100%;
  background-image: url(../public/hover1.png);
  position: absolute;
  right: 0;
  top: 5px;
}

.MoreInfoLink:hover {
  color: #d6b264;
}

.FounderItemBox {
  padding: 0 5px;
}

.FounderSlider {
  margin-top: 30px;
}

.AllTeamImageBox {
  margin: 50px 0px;
}

.OurPeopleBox {
  margin: 0 auto;
  margin-top: 30px;
}

.w100 {
  width: 100%;
}

.PT1 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 15px;
}

.PT2 {
  color: #d6b264;
}

.FtrProject {
  margin: 0 5px;
}

.FtrProperties {
  margin-top: 30px;
}

.centerBlock {
  justify-content: center;
  text-align: center;
}

.centerBlock .Txt2 {
  margin: 0 auto;
  max-width: 100%;
}

.FullScreenBanner.Projects::after {
  /* background-image: url(../public/projectbg.png); */
  background-color: rgba(0, 0, 0, 0.25);
}

.BlT1 {
  color: #d6b264;
  margin-bottom: 5px;
}

.BlT2 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 30px;
}

.BlogPostMainArea .container {
  max-width: 1100px;
}

.LatestBlogItem {
  padding: 20px;
  background-color: #f7f7f7;
}

.LtT1 {
  color: #d6b264;
  margin-bottom: 5px;
}

.LatestBlogImage {
  margin-bottom: 10px;
}

.LtT2 {
  font-size: 20px;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.BlT3 {
  line-height: 1.5;
  font-size: 19px;
}

.BlogPostMainArea .row {
  align-items: center;
}

.blogLists .col-md-4 {
  margin-bottom: 30px;
}

.ViewAll {
  margin-top: 40px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #1d1d1b;
  cursor: pointer;
  transition: 0.4s;
}

.BlogListingWrap .BlogItem {
  padding: 15px;
  background-color: #fff;
}

.CntPageHead {
  overflow: hidden;
  position: relative;
}

.CntPageHead img {
  height: 100% !important;
  object-fit: cover;
}

.CntPageHead:after {
  content: "";
  background-image: url(../public/overlay.png);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

.CT1 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  color: #fff;
  font-size: 35px;
}

.CntMiddleBox {
  background-color: #fff;
}

.Ct2 {
  color: #d6b264;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.Ct3 {
  font-size: 26px;
  text-transform: uppercase;
}

.ConPage .CRow {
  color: #1d1d1b;
}

.CntMiddleBox .FormBox {
  margin-top: 0;
}

.MidRow1 {
  align-items: center;
  margin-bottom: 30px;
}

.LcBoxT1 {
  font-size: 19px;
  margin-bottom: 7px;
}

.LcBoxT2 {
  margin-bottom: 7px;
}

.LcBox a {
  text-decoration: underline !important;
}

.Spacer {
  height: 1px;
  background-color: #e4e4e4;
  opacity: 0.7;
  margin: 25px 0px;
}

.PadBox1 {
  padding: 35px;
  border-radius: 25px;
  background-color: #f7f7f7;
}

.Ft1 {
  font-size: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.Accordion {
  background-color: #d6b264;
  padding: 20px;
  margin-bottom: 15px;
  font-size: 18px;
  border-radius: 20px;
  position: relative;
  padding-right: 50px;
}

.AccordionQuestion {
  font-weight: 600;
}

.AccordionAnswer {
  margin-top: 20px;
  font-size: 18px;
}

.Accordion::after {
  content: "+";
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 33px;
}

.Accordion.active::after {
  content: "-";
}

.yarl__carousel {
  background-color: rgba(0, 0, 0, 0.25) !important;
}

.DetSlContentBox {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: end;
  z-index: 3;
  padding: 40px 0px;
}

.DetSlContentBox .Txt2 {
  max-width: 100%;
}

.ButtonsBox1 {
  /* background-color: rgba(0, 0, 0, 0.6); */
  /* padding: 15px; */
  border-radius: 25px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
}

.ButtonsBox1 a {
  display: inline-block;
  padding: 15px;
  background-color: #1d1d1b;
  color: #fff;
  border-radius: 20px;
  margin-right: 10px;
  text-align: center;
}

.ButtonsBox1 a:last-child {
  margin-right: 0;
}

.PlayIconBox {
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.4s;
}

.PlayIconBox:hover {
  background-color: #1d1d1b;
}

.PlayIcon {
  height: 32px;
  width: 26px;
  background-image: url(../public/play.png);
  background-size: 100% 100%;
}

.PrDetSliderBox {
  margin-top: 25px;
  margin-left: -10px;
  margin-right: -10px;
}

.Det2T1 {
  line-height: 1.4;
  font-size: 20px;
  text-align: justify;
}

.Det2T1.mb {
  margin-bottom: 10px;
}

.ProductDetail2 .container {
  max-width: 1200px;
}

.mb3 {
  margin-bottom: 25px;
}

.ProductDetail3::after {
  content: "";
  background-image: url(../public/projectbg.png);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.DetBoxContent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  color: #fff;
  display: flex;
  align-items: center;
  max-height: 100vh;
  overflow: hidden;
}

.Tst1 {
  font-size: 35px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.FeatureBox {
  padding: 15px;
  text-align: center;
  margin-bottom: 10px;
}

.FeatureBoxT1 {
  text-transform: uppercase;
  font-size: 21px;
  margin-bottom: 5px;
}

.FeatureBoxT2 {
  text-transform: uppercase;
  font-size: 15px;
}

.FeatureBoxIcon {
  width: 52px;
  height: 52px;
  background-size: 100% 100%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 10px;
}

.FeatureBoxIcon.FeatureBoxIcon1 {
  background-image: url(../public/ft1.png);
}

.FeatureBoxIcon.FeatureBoxIcon2 {
  background-image: url(../public/ft2.png);
}

.FeatureBoxIcon.FeatureBoxIcon3 {
  background-image: url(../public/ft3.png);
}

.FeatureBoxIcon.FeatureBoxIcon4 {
  background-image: url(../public/ft4.png);
}

.FeatureBoxIcon.FeatureBoxIcon5 {
  background-image: url(../public/ft5.png);
}

.FeatureBoxIcon.FeatureBoxIcon6 {
  background-image: url(../public/ft6.png);
}

.FeatureBoxIcon.FeatureBoxIcon7 {
  background-image: url(../public/WiFi-icon.png);
}

.FeatureBoxIcon.FeatureBoxIcon8 {
  background-image: url(../public/dumbbell-icon.png);
}

.FeatureBoxIcon.FeatureBoxIcon9 {
  background-image: url(../public/swimming-icon.png);
}

.FeatureBoxIcon.FeatureBoxIcon10 {
  background-image: url(../public/swimming-children-icon.png);
}

.FeatureBoxIcon.FeatureBoxIcon11 {
  background-image: url(../public/children-park-icon.png);
}

.FeatureBoxIcon.FeatureBoxIcon12 {
  background-image: url(../public/landscape-icon.png);
}

.FeatureBoxIcon.FeatureBoxIcon13 {
  background-image: url(../public/parking-icon.png);
}

.FeatureBoxIcon.FeatureBoxIcon14 {
  background-image: url(../public/lift-icon.png);
}

.FeatureBoxIcon.FeatureBoxIcon15 {
  background-image: url(../public/security-guard-icon.png);
}

.FeatureBoxIcon.FeatureBoxIcon16 {
  background-image: url(../public/cctv-icon.png);
}

.FeatureBoxIcon.FeatureBoxIcon17 {
  background-image: url(../public/Icons/Takmeel_Icons_Adult\ Pool.png);
}

.FeatureBoxIcon.FeatureBoxIcon18 {
  background-image: url(../public/Icons/Takmeel_Icons_Indoor\ Gym.png);
}

.FeatureBoxIcon.FeatureBoxIcon19 {
  background-image: url(../public/Icons/Takmeel_Icons_Kids\ Play\ Area.png);
}

.FeatureBoxIcon.FeatureBoxIcon20 {
  background-image: url(../public/Icons/Takmeel_Icons_Kids\ Pool.png);
}

.FeatureBoxIcon.FeatureBoxIcon21 {
  background-image: url(../public/Icons/Takmeel_Icons_Landscaped-\ Gardens.png);
}

.ImageWithTextBox {
  padding: 0 !important;
  margin: 0 5px;
}

.ImageWithTextBox::after,
.ViewBlock::after {
  content: "";
  /* background-image: url(../public/projectbg.png); */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.ImageTlBox {
  display: none;
  background-color: #fff;
  padding: 20px;
  font-size: 23px;
}

.PrdTxt1 {
  margin-bottom: 5px;
}

.PrdTxt2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* .View360Box::after{
  content: "";
  width: 60px;
  height: 30px;
  background-image: url(../public/view.png);
  background-size: 100% 100%;
  margin-bottom: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 4;
}
.View360Box::before{
  content: "360 View";
} */
.ViewBlockContent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.ViewBlock::after {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.25);
}

.psv-navbar {
  z-index: 6 !important;
}

.View360Box .boxC1 {
  height: 70vh !important;
}

.AmnBoxTitle {
  position: relative;
  margin-bottom: 25px;
}

.AmnBoxTitle::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 50%;
  opacity: 0.2;
}

.AmnBoxTitle span {
  background-color: #f7f7f7;
  position: relative;
  display: inline-block;
  z-index: 2;
  padding-right: 20px;
  font-size: 30px;
  text-transform: uppercase;
}

.AmnKeyBoxFlex {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.AmnKeyBoxLeft {
  width: 70px;
  flex-shrink: 0;
}

.AmnKeyBoxRight {
  flex: 1;
  font-size: 22px;
}

.AmnIcon {
  width: 60px;
  height: 60px;
  background-size: 100% 100%;
}

.AmnIcon.AmnIcon1 {
  background-image: url(../public/amn1.png);
}

.AmnIcon.AmnIcon2 {
  background-image: url(../public/amn2.png);
}

.AmnIcon.AmnIcon3 {
  background-image: url(../public/amn3.png);
}

.AmnIcon.AmnIcon4 {
  background-image: url(../public/amn4.png);
}

.AmnIcon.AmnIcon5 {
  background-image: url(../public/amn5.png);
}

.AmnIcon.AmnIcon6 {
  background-image: url(../public/amn6.png);
}

.AmnIcon.AmnIcon7 {
  background-image: url(../public/amn7.png);
}

.AmnIcon.AmnIcon8 {
  background-image: url(../public/amn8.png);
}

.AmnIcon.AmnIcon9 {
  background-image: url(../public/amn9.png);
}

.AmnIcon.AmnIcon10 {
  background-image: url(../public/amn10.png);
}

.AmnIcon.AmnIcon11 {
  background-image: url(../public/amn11.png);
}

.AmnIcon.AmnIcon12 {
  background-image: url(../public/amn12.png);
}

.AmnIcon.AmnIcon13 {
  background-image: url(../public/amn13.png);
}

.AmnIcon.AmnIcon14 {
  background-image: url(../public/amn14.png);
}

.AmnIcon.AmnIcon15 {
  background-image: url(../public/amn15.png);
}

.AmnIcon.AmnIcon16 {
  background-image: url(../public/amn16.png);
}

.AmnIcon.AmnIcon17 {
  background-image: url(../public/amn17.png);
}

.AmnIcon.AmnIcon18 {
  background-image: url(../public/amn18.png);
}

.AmnIcon.AmnIcon19 {
  background-image: url(../public/Icons/Takmeel_Icons_Adult\ Pool.png);
}

.AmnIcon.AmnIcon20 {
  background-image: url(../public/Icons/Takmeel_Icons_Archery\ Area.png);
}

.AmnIcon.AmnIcon21 {
  background-image: url(../public/Icons/Takmeel_Icons_BBQ\ Area.png);
}

.AmnIcon.AmnIcon22 {
  background-image: url(../public/Icons/Takmeel_Icons_Beach\ Entry\ Pool.png);
}

.AmnIcon.AmnIcon23 {
  background-image: url(../public/Icons/Takmeel_Icons_Board\ Games\ Area.png);
}

.AmnIcon.AmnIcon24 {
  background-image: url(../public/Icons/Takmeel_Icons_Cabanas.png);
}

.AmnIcon.AmnIcon25 {
  background-image: url(../public/Icons/Takmeel_Icons_Co-working\ space.png);
}

.AmnIcon.AmnIcon26 {
  background-image: url(../public/Icons/Takmeel_Icons_Indoor\ Gym.png);
}

.AmnIcon.AmnIcon27 {
  background-image: url(../public/Icons/Takmeel_Icons_Jacuzzi.png);
}

.AmnIcon.AmnIcon28 {
  background-image: url(../public/Icons/Takmeel_Icons_Kids\ Play\ Area.png);
}

.AmnIcon.AmnIcon29 {
  background-image: url(../public/Icons/Takmeel_Icons_Kids\ Pool.png);
}

.AmnIcon.AmnIcon30 {
  background-image: url(../public/Icons/Takmeel_Icons_Mini\ Golf.png);
}

.AmnIcon.AmnIcon31 {
  background-image: url(../public/Icons/Takmeel_Icons_Outdoor\ Cinema.png);
}

.AmnIcon.AmnIcon32 {
  background-image: url(../public/Icons/Takmeel_Icons_Outdoor\ Gym.png);
}

.AmnIcon.AmnIcon33 {
  background-image: url(../public/Icons/Takmeel_Icons_Outdoor\ Shaded\ Seating.png);
}

.AmnIcon.AmnIcon34 {
  background-image: url(../public/Icons/Takmeel_Icons_Smoking\ Lounge.png);
}

.AmnIcon.AmnIcon35 {
  background-image: url(../public/Icons/Takmeel_Icons_Steam\ and\ Sauna\ Area.png);
}

.AmnIcon.AmnIcon36 {
  background-image: url(../public/Icons/Takmeel_Icons_Table\ Tennis\ Court.png);
}

.AmnIcon.AmnIcon37 {
  background-image: url(../public/Icons/Takmeel_Icons_Yoga\ Area.png);
}

.AmnIcon.AmnIcon38 {
  background-image: url(../public/Icons/Takmeel_Icons_Landscaped-\ Gardens.png);
}

.AmnIcon.AmnIcon39 {
  background-image: url(../public/Icons/Takmeel_Icons_Outdoor\ Shower.png);
}

.AmnIcon.AmnIcon40 {
  background-image: url(../public/Icons/Takmeel_Icons_cinema.png);
}

.AmnIcon.AmnIcon41 {
  background-image: url(../public/Icons/Takmeel_Icons_Snooker.png);
}

.AmnIcon.AmnIcon42 {
  background-image: url(../public/Icons/Takmeel_Icons_Spa.png);
}

.AmnBoxWrap {
  margin-top: 35px;
}

.PlanBox {
  padding: 50px;
  background-color: #fff;
  padding-bottom: 0;
}

.PlanBoxBottomFlex {
  display: flex;
  position: relative;
  background-color: #fff;
  padding: 30px 50px 50px 50px;
}

.PlanBoxBottomLnk {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid #1d1d1b;
  transition: 0.4s;
  cursor: pointer;
  margin-right: 10px;
}

.PlanBoxBottomLnk:hover {
  background-color: #d6b264;
}

.DownloadBtn {
  width: 30px;
  height: 30px;
  background-image: url(../public/download.png);
  background-size: 100% 100%;
  position: absolute;
  top: 25px;
  right: 30px;
}

.LocationRowWrap .BlT2 {
  margin-bottom: 25px;
}

.ccT1 {
  font-size: 35px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.InputItem input,
.InputItem select {
  background-color: #fff;
  border-radius: 25px;
  padding: 20px;
  display: block;
  width: 100%;
  border: 0px solid #e4e4e4;
  outline: none;
  box-shadow: none;
  padding-left: 160px;
}

.InputItem {
  margin-bottom: 15px;
}

.InputItem span {
  position: absolute;
  left: 30px;
  top: 22px;
  font-size: 14px;
}

.InputItem ::placeholder {
  color: #1d1d1b;
  opacity: 1;
}

.InputItem ::-ms-input-placeholder {
  color: #1d1d1b;
}

.CCNotice1 {
  font-size: 12px;
  margin-top: 8px;
  padding-left: 15px;
}

.DefaultMortageBox {
  padding: 15px;
  border-radius: 25px;
  background-color: #fff;
}

.CCNotice2 {
  font-size: 14px;
}

.MortageFlex {
  display: flex;
  margin-top: 10px;
}

.MortageItem {
  white-space: nowrap;
  flex: 0 0 31.333%;
  margin-right: 2%;
  background: #f7f7f7;
  padding: 15px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.4s;
}

.MortageItem:hover {
  background-color: #d6b264;
}

.MortageItem:last-child {
  margin-right: 0;
}

.MrT1 {
  font-size: 14px;
}

.MrT2 {
  font-size: 25px;
}

.CCFormRight {
  background-color: #fff;
  border-radius: 25px;
  padding: 20px;
}

.AnswerBox {
  padding: 15px;
  background: #f7f7f7;
  text-align: center;
  font-size: 14px;
  border-radius: 25px;
  margin-bottom: 15px;
}

.AnswerBoxT1 {
  margin-bottom: 5px;
}

.AnswerBoxT2 {
  font-size: 25px;
  font-weight: 600;
}

.CCNotice3 {
  font-size: 14px;
}

.costCalculator .container {
  max-width: 1200px;
}

.FreeCreditFlex {
  display: flex;
  justify-content: space-between;
  border: 1px solid #1d1d1b;
  border-radius: 25px;
  padding: 10px 15px;
  margin-top: 15px;
}

.FreeCreditFlexLeft {
  font-size: 14px;
}

.FreeCreditFlexRight {
  font-weight: 600;
}

.FormButtons {
  display: flex;
}

.FormButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.FormButton {
  flex: 0 0 48%;
  padding: 13px;
  text-align: center;
  background-color: #d6b264;
  border-radius: 25px;
  cursor: pointer;
  border: 1px solid #d6b264;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn1 {
  width: 12px;
  height: 12px;
  background-image: url(../public/btn1.png);
  background-size: 100% 100%;
  display: inline-block;
  margin-left: 10px;
  display: inline-block;
  position: relative;
  top: 3px;
}

.btn2 {
  width: 20px;
  height: 20px;
  background-image: url(../public/btn2.png);
  background-size: 100% 100%;
  display: inline-block;
  margin-right: 10px;
  display: inline-block;
  position: relative;
}

.FormButton2 {
  background-color: #fff;
  border: 1px solid #000;
}

.bg3 {
  background-color: #383838;
}

.ppT1 {
  color: #d6b264;
  margin-bottom: 5px;
}

.ppT2 {
  font-size: 35px;
  color: #fff;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* .propertyFormBox .InputItem input, */
.propertyFormBox .InputItem input[type="text"],
.propertyFormBox .InputItem input[type="number"],
.propertyFormBox .InputItem input[type="email"],
.propertyFormBox .InputItem select {
  padding: 15px 20px;
  -webkit-appearance: none;
  /* Chrome, Safari, Opera */
  -moz-appearance: none;
  /* Firefox */
  appearance: none;
  /* Standard */
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.FullScreenBanner video {
  max-height: 100vh !important;
  object-fit: cover;
  background-position: center center;
  margin: 0 !important;
}

.DetHero {
  height: 100vh !important;
}

.DetHero img,
.DetHero video {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover !important;
}

.no-hover-color {
  color: inherit;
  text-decoration: none;
}

.no-hover-color:hover {
  color: inherit;
  text-decoration: none;
}

.zsiq-float.zsiq-flexM {
  animation: floatAnimation 3s ease-in-out infinite;
  right: 20px;
  bottom: 20px;
  border: 2px solid #fff;
}

.siqcw-drivenby-cont {
  z-index: 0;
  display: none !important;
}

/* Keyframes for smooth floating */
@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

#map {
  margin-top: 25px;
  /* height: 100vh !important; */
  margin-bottom: 0 !important;
}

.SlT3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.FixedHeight img {
  height: 250px !important;
  overflow: hidden;
  object-fit: cover !important;
}

.MainFoundersDetails {
  max-width: 1200px;
  margin: 60px auto;
}

.MainFoundersDetails img {
  border-radius: 20px;
}

.MainFoundersDetails .BlT3 {
  font-size: 19px;
}

.pdb0 {
  padding-bottom: 0 !important;
}

.VisionMissionBox .VmT5 {
  font-size: 18px;
}

.FxdHgtImage img,
.AbSliderItem img {
  height: 400px !important;
  object-fit: cover;
}

.PrStatus {
  display: inline-block;
  /* background-color: #b5123c; */
  background-color: #fff;
  color: #1d1d1b;
  padding: 6px 12px;
  border-radius: 20px;
  margin: 20px 0px 0px 0px;
  font-size: 14px;
  position: relative;
  transition: 0.5s;
  padding-left: 23px;
  /* background-image: url(../public/soldout.svg);
  width: 60px;
  height: 60px;
  z-index: 1;
  display: inline-block;
  background-size: 100% 100%; */
}

.PrStatus::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #b5123c;
}

.BlT1A {
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
}

.BlT2B {
  font-size: 19px;
  line-height: 1.5;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.TxtBig {
  font-size: 150px;
}

.SmallSizeTxt {
  font-size: 19px;
  max-width: 70%;
  margin: 0 auto;
}

.PaymentBlockRow {
  justify-content: center;
  margin-top: 30px;
}

.PayBlockBxHdr {
  font-size: 20px;
  text-transform: capitalize;
  margin: 0 !important;
}

.PayBlockBx {
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 25px;
}

.PaymentDetBoxT1 {
  font-size: 19px;
  margin-bottom: 15px;
}

.PaymentDetBox .PaymentDetBoxT1:last-child {
  margin-bottom: 0;
}

.PaymentDetBox .VmT5 {
  padding-left: 25px;
  display: block;
}

.PaymentDetBox .VmT5::after {
  width: 19px;
  height: 20px;
}

.galleryBoxRow.container-fluid {
  padding: 60px 0px;
}

.BlT3 img {
  padding: 10px;
}

.ql-align-center {
  text-align: center;
}

.galleryBoxRow .row {
  margin: 0 -5px;
}

.galleryBoxRow .col-md-4 {
  padding: 0 5px;
  margin-bottom: 10px;
}

.galleryBoxRow img {
  cursor: pointer;
}

.galleryBoxRow .BlT2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.CntMiddleBox .container {
  max-width: 1200px;
}

.GalleryImageBox {
  padding: 8px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 10px;
}

.galleryBoxRow .slick-dots li {
  width: 30px;
  height: 4px;
}

.galleryBoxRow .slick-dots li button {
  width: 30px;
  height: 4px;
  background-color: #1d1d1b;
  opacity: 0.3;
  padding: 0;
  border-radius: 5px;
}

.galleryBoxRow .slick-dots li button::before {
  content: none;
}

.galleryBoxRow .slick-dots li.slick-active button {
  opacity: 1;
}

.AbsPos {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: rgba(29, 29, 27, 0.7);
}

.AbsPos:hover {
  background-color: rgba(29, 29, 27, 1);
}

.LanguageSwitcher {
  margin-right: 20px;
  display: flex;
  align-items: center;
  padding: 8px 15px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s;
  border: 1px solid #fff;
  font-size: 17px;
}

.LanguageSwitcher:hover {
  background-color: #d6b264;
}

.arabic-text {
  font-family: var(--font-cairo);
}

.LanguageICon {
  display: inline-block;
  width: 23px;
  height: 15px;
  background-size: 100% 100%;
  border-radius: 3px;
  position: relative;
  top: 1px;
}

.uaelogo {
  background-image: url(../public/uaeflag.jpg);
  margin-left: 5px;
}

@media only screen and (min-width: 1200px) {

  .HeaderBoxLeft,
  .HeaderBoxRight {
    flex: 0 0 400px;
    max-width: 400px;
    display: flex;
    align-items: center;
  }

  .HeaderBoxRight {
    display: flex;
    justify-content: end;
  }
}

.DifBox1 .row {
  margin-bottom: 45px;
}

.ImageWithTextBox::after {
  content: none !important;
}

.DifBox1 .row:last-child {
  margin-bottom: 0;
}

.form-open [data-id="zsalesiq"],
.menu-open [data-id="zsalesiq"] {
  display: none !important;
}

.FormPopUp textarea {
  max-height: 80px;
}

.LottieLayer {
  z-index: 4;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 102%;
  height: 102%;
  display: flex;
  position: absolute;
  inset: -1%;
}

.truncate-3-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.custom-container-flexible {
  max-width: 90%;
}

.custom-section-flexible {
  padding-top: 100px;
  padding-bottom: 100px;
  /* min-height: 90vh; */
}

.FullScreenBanner {
  transform-style: preserve-3d;
  will-change: transform;
}

.snap-container {}

.snap-section {}

#vibe-stack {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

html,
body {
  /* height: 100%; */
  /* margin: 0; */
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.snap-wrapper {
  display: flex;
  flex-direction: column;
}

.snap-div {
  height: fit-content;
  scroll-snap-align: center;
}

.LatestBlogImage img {
  height: 350px !important;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 10px;
}

.BlogItem {
  border-radius: 15px;
}

.wrapLogo {
  position: absolute;
  right: 10px;
  bottom: 10px;
  max-width: 150px;
}

.wrapLogo img.LogoKlhaleeg {
  height: auto !important;
}

@keyframes ticker-scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
    /* Adjust based on duplicate content */
  }
}

.ticker-wrapper {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.ticker {
  display: inline-block;
  white-space: nowrap;
  animation: ticker-scroll 20s linear infinite;
}



/* Animation phases */
.Txt2 {
  /* transition: opacity 1s ease-in-out; */
  /* opacity: 1; */
}

.phase-initial .Txt2 {
  opacity: 1;
}

.phase-transition .Txt2 {
  opacity: 0;
}

/* .phase-final .Txt2 {
  display: none;
} */

.phase-final .Txt2:not(.final-txt2) {
  display: none;
}

.final-txt2 {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease forwards;
}

/* Final content fade-in */
.phase-final .final-content>div {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.fade-in-up {
  transform: translateY(30px) translateZ(0);
  transition: transform 0.6s ease;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.fade-in-up.visible {
  transform: translateY(0) translateZ(0);
}


.BackdropSlide {
  /* width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -100% center;
  animation: slideBg 5s ease-out forwards; */
  width: 100%;
  height: 100vh;
  z-index: 999;
  transition: 1s;
  left: -100%;
  overflow: hidden;
}

.menu-open .BackdropSlide {
  left: 0;
  z-index: 999;
}

@keyframes slideBg {
  0% {
    background-position: -100% center;
  }

  100% {
    background-position: center;
  }
}

:root {
  --easeInEaseOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.image12 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh !important;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.2s var(--easeInEaseOutCubic);
}

.image12.loaded {
  opacity: 1;
}

/* ......... START ARROW ANIMATION ........... */
.pin-spacer section {
  position: fixed !important;
  top: 0 !important;
}

.bannerTx {
  z-index: 500000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.changeColor .Link1 {
  color: #383838;
  border: 1px solid #383838;
}

.arrowContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0;
  overflow: hidden;
}

.arrowBg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0;
  overflow: hidden;
  background: #fff;
  opacity: 0;
}

.arrowWrapper {
  position: fixed;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 300px;
  z-index: 10;
  opacity: 0.2;
}

.scrollArrow {
  opacity: 0;
  width: 100%;
  height: auto;
  max-height: none !important;
  shape-rendering: geometricPrecision;
}

.FullScreenBanner img.scrollArrow {
  height: auto !important;
}

/* PAGE SECTION */

.pageSection {
  background: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
}

.pageSection {
  height: 100vh;
}

.pageSection::after {
  content: "";
  display: table;
  clear: both;
}

.videoWrapper {
  top: 0;
  left: 0;
  width: 100%;
}

.childWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.HomeAboutItem {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}

.height100p {
  height: 100%;
}

.ContactFormSection {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.zsiq-float-tooltip {
  display: none !important;
}

.Backdrop img {
  height: 100vh !important;
  object-fit: cover;
  overflow: hidden;
}

.StageItemImge {
  width: 48px;
  height: 48px;
  background-size: 100% 100%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.StageItemT1 {
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.StageItemT2 {
  font-size: 19px;
}

.StageItemImge.image1 {
  background-image: url(../public/investment.png);
}

.StageItemImge.image2 {
  background-image: url(../public/design.png);
}

.StageItemImge.image3 {
  background-image: url(../public/development.png);
}

.StageItemImge.image4 {
  background-image: url(../public/sale.png);
}

.StageItemImge.image5 {
  background-image: url(../public/marketing.png);
}

.StageItemImge.image6 {
  background-image: url(../public/delivery.png);
}

.StageItemImge.image7 {
  background-image: url(../public/integrity.png);
}

.StageItemImge.image8 {
  background-image: url(../public/innovation.png);
}

.StageItemImge.image9 {
  background-image: url(../public/excellence.png);
}

.StageItemImge.image10 {
  background-image: url(../public/respect.png);
}

.StageItemImge.image11 {
  background-image: url(../public/authenticity.png);
}

.StageItemImge.image13 {
  background-image: url(../public/collaboration.png);
}

.StageItemBox {
  margin-top: 40px;
}

.OurValuesBox .StageItemBox {
  padding: 20px;
  background-color: #fff;
  min-height: 235px;
}

.ListTyle1 {
  margin: 0;
  padding-left: 20px;
}

.ListTyle1 li div {
  margin-bottom: 15px;
}

.ListTyle1 li:last-child div {
  margin-bottom: 0px;
}

.ListTyle1 li div span {
  color: #d6b264;
  font-size: 21px;
  text-transform: uppercase;
  margin-right: 5px;
}

.noOverlay.CntPageHead::after {
  content: none;
}

.HedrT1 {
  font-size: 35px;
  text-transform: uppercase;
}

.PolicyBoxT1 {
  font-weight: bold;
  margin-bottom: 10px;
}

.PolicyBoxT2 {
  margin-bottom: 15px;
  font-size: 18px;
}

.PolicyBoxT3 {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.PolicyBox {
  margin-bottom: 20px;
}

.JobBox {
  padding: 20px;
  text-align: left;
  border-radius: 5px;
}

.JobBoxT1 {
  font-size: 25px;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.JobBoxT1::after {
  content: "";
  width: 25%;
  height: 2px;
  background-color: #d6b264;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 3px;
}

.JobBoxT2 {
  font-size: 18px;
}

.JobButtons span:first-child {
  background-color: #d6b264;
  margin-right: 15px;
  color: #1d1d1b;
  cursor: pointer;
}

.JobButtons span:first-child:hover {
  background-color: #1d1d1b;
  color: #fff;
}

.JobButtons {
  margin-top: 10px;
}

.ReadMoreBox {
  margin-top: 15px;
}

.JobBoxT3 {
  font-size: 20px;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.JobBoxT3::after {
  content: "";
  width: 25%;
  height: 2px;
  background-color: #d6b264;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 3px;
}

.JobulLi {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  margin-bottom: 15px;
}

.JobulLi li {
  margin-bottom: 5px;
}

.JobNote {
  border: 1px solid #d6b264;
  padding: 10px;
  border-radius: 5px;
}

.ReadMoreBox {
  display: none;
}

/* For large iMacs (like 4K/5K Retina, often 1920px or more) */
@media (min-width: 1930px) {
  .container,
  .ProductDetail2 .container {
    max-width: 1900px;
  }
 .Txt2{
  font-size: 90px;
 }
 .SmallSizeTxt{
  font-size: 32px;
 }
 .Link1 {
    padding: 15px 30px;
    border-radius: 40px;
    font-size: 30px;
  }
  body ,
  .HbT2, 
  .HbT3 ,
  .VmT2 ,
  .Txt17,
  .FounderName,
  .FounderPosition,
  .StageItemT2,
  .PT1,
  .PT2,
  .BlT3,
  .Det2T1,
  .BlT2B{
    font-size: 26px;
  }
  .AmnIcon {
    width: 100px;
    height: 100px;
  }
  .AmnKeyBoxLeft{
    width: 110px;
  }
  .AmnKeyBoxRight{
    font-size: 30px;
  }
  .FxdHgtImage img, .AbSliderItem img{
    height: 600px !important;
  }
   .StageItemT1{
    font-size: 45px;
   }
  .Txt3{
    font-size: 40px;
  }
  
  .TxtBig{
    font-size: 200px;
  }
  .HbT1 ,
  .BlT2,
  .BlT1A,
  .ppT2
 {
    font-size: 60px;
  }
  .HomeAboutContent{
    max-width: 1500px;
  }
  
  .HbT4{
    font-size: 45px;
  }
  .Link5{
    border-radius: 30px;
  }
  .CfT2{
    font-size: 60px;
  }
  .FormBox{
    max-width: 1700px;
  }
  .CustomPhoneInput input{
    font-size: 25px;
  }
  .FormBox button{
    padding: 15px 30px;
    border-radius: 35px;
  }
  .galleryBoxRow .BlT2 ,
  .VmT1{
    font-size: 60px;
  }
  body .slick-prev,
  body .slick-next{
    width: 50px;
    height: 50px;
  }
  .ButtonsBox1 a{
    font-size: 30px;
    padding: 20px 30px;
    border-radius: 30px;
  }
}