@media only screen and (max-width: 1000px) {
    .m-only {
        display: block !important;
      }
      .d-only {
        display: none !important;
      }
      .menu-open .m-only,
        .form-open  .m-only{
        display: none !important;
        }
    body {
        position: relative;
        overflow-x: hidden !important;
      }
      html {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        position: relative;
      }
    .Txt2 {
        font-size: 22px;
        line-height: 1;
        margin-bottom: 10px;
      }
      body{
        font-size: 15px;
      }
      .Link1 {
        min-width: 120px;
        padding:8px 20px;
      }
      .Txt3{
        margin-bottom: 15px;
        font-size: 18px;
      }
      .HeaderBox {
        padding:10px 0px;
      }
      .Link4 {
        padding:6px 10px;
        font-size: 13px;
      }
      .MenuClick::after{
        content: none;
      }
      .MenuClick {
        width: 24px;
        height: 17px;
      }
      .MenuMiddle ul a {
        margin-bottom: 15px;
        font-size: 19px;
      }
      .MenuHd {
        margin-bottom: 40px;
      }
      .MenuMiddle {
        margin-bottom: 40px;
      }
      .FormPopUp{
        padding: 20px;
      }
      .FormBox input, 
      .FormBox textarea {
        margin-bottom: 10px;
        padding:13px 20px;
      }
      .FormPopUp .CfT2 {
        font-size: 20px;
      }
      .closeBtn {
        width: 20px;
        height: 20px;
      }
      .Txt1{
        margin-bottom: 10px;
      }
      .ChatBoat {
        padding:13px 15px;
        bottom: 110px;
      }
      .HeroBanner2Wrap {
        padding:0;
        margin:0 -15px;
        overflow:hidden;
      }
      body .slick-next, body .slick-prev{
        display: none !important;
      }
      .FtSliderContent .Txt2 {
        font-size: 22px;
      }
      .FtSliderContent .Txt3 {
        margin-bottom: 0;
        font-size: 15px;
      }
      .BannerTextBox .col-md-4 {
        text-align: left;
        margin-top: 15px;
      }
      body .slick-dots li button::before {
        font-size: 12px;
      }
      .HbT1{
        font-size: 22px;
        margin-bottom: 15px;
      }
      .HbT2, .HbT3 {
        margin-bottom: 10px;
        font-size: 17px;
      }
      .HbT4 {
        margin-bottom: 15px;
        font-size: 22px;
      }
      .HbT4 br{
        display: none;
      }
      .pd-common {
        padding:25px 0;
      }
      .St2{
        font-size: 22px;
      }
      .St3{
        margin-bottom: 15px;
      }
      .SlT2 {
        margin-bottom: 5px;
        font-size: 17px;
      }
      .SldSliderItemDesc .text-right{
        text-align: left !important;
      }
      .SoldOutSlider{
        margin: 0 -15px;
        overflow: hidden;
      }
      .SldSliderItem {
        margin-right: 15px;
      }
      .CfT2{
        font-size: 22px;
      }
      .FtrT1 {
        color: #fff;
        border-bottom:
      1px solid #ffffff1a;
        margin-bottom: 30px;
        padding:
      20px 0;
        font-size: 18px;
      }
      .FtrRow .col-md-2{
        max-width: 50%;
        flex: 0 0 50%;
      }
      .NewsletterBox{
        margin-top: 15px;
        text-align: center;
      }
      .FooterBottom {
        padding-bottom: 90px;
        text-align: center;
      }
      .socialMediaLinksFlex {
        justify-content: center;
        margin-top: 15px;
      }
      .FooterLogo {
        max-width: 170px;
      }
      .HdT2{
        font-size: 22px;
      }
      .PageHeaderTp1{
        padding: 30px 15px;
        height: auto !important;
      }
      .HdT3 {
        font-size: 16px;
      }
      .PageHeaderTp1 br , 
      .CfT2 br{
        display: none;
      }
      .VmT1{
        font-size: 22px;
      }
      .VmT2 {
        font-size: 16px;
        margin-bottom: 20px;
      }
      .VmT3 {
        margin-bottom: 10px;
        font-size: 22px;
      }
      .VmT4 {
        font-size: 16px;
        margin-bottom: 10px;
      }
      .FounderName {
        font-size: 18px;
      }
      .FounderPosition {
        margin-bottom: 5px;
        font-size: 16px;
      }
      .FounderSlider ,
      .OurPeopleBox {
        margin-top: 20px;
        margin-left: -15px;
        margin-right: -15px;
        overflow:hidden;
      }
      .PT1 {
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 18px;
      }
      .FtrProperties{
        margin-top: 20px;
        margin-left: -15px;
        margin-right: -15px;
      }
      .BlT2{
        font-size: 22px;
      }
      .BlT3 {
        margin-bottom: 10px;
      }
      .LtT2 {
        font-size: 18px;
      }
      .BlogPostWrap .text-right{
        text-align: left !important;
      }
      .Link6{
        padding: 8px 15px;
      }
      .ViewAll{
        margin-top: 20px;
      }
      .blogLists .col-md-4 {
        margin-bottom: 15px;
      }
  }